---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok, ...props } = Astro.props
---

<main {...storyblokEditable(blok)}>
  {
    blok.body?.map(blok => {
      return <StoryblokComponent {blok} {...props} />
    })
  }
</main>
